.ImgContainter {
  display: flex;
  width: 100%;
  height: 550px;
  background-color: rgb(233, 235, 235, 1);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.textImageContainer {
  margin: auto;
}
