.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.infoTextIconContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding-bottom: 0;
}

.IconContainer {
  flex: 0.7;
  margin-bottom: 0;
  padding-bottom: 0;
}

.infoTextContainer {
  flex: 9;
  margin-bottom: 0;
  padding-bottom: 0;
}

.textInfoContainer {
  width: 35%;
  font-size: 12px;
  font-style: italic;
  justify-content: flex-start;
  align-content: flex-end;
}
